
.menu
    position: absolute

.start_button
    background-color: #FFBB32
    padding: 15px 20px
    border: none
    border-radius: 15px
    font-family: 'Staatliches', cursive
    font-size: 25px
    transition: all 200ms ease-in-out
    color: #CD6121

    &:hover
        color: #FFBB32
        background-color: #E47624
        cursor: pointer
        transform: scale(1.05)
